/// Alert
///

.dp-alert {
  @include border-radius("m-l");
  display: flex;
  padding: 6px;
  align-items: flex-start;
  justify-content: space-between;
  font-family: $primary-font;
  font-size: $font-size-m-l;
  font-weight: $pf-regular;
}

.dp-alert__icon {
  margin: 4px 12px 0 3px;
  font-size: $font-size-m-l;
}

.dp-alert__close {
  margin: 0 3px 0 12px;
  cursor: pointer;
  font-size: $font-size-m-l;
}

.dp-alert__content {
  flex-grow: 2;
  word-wrap: break-word;
  overflow: hidden;
}
