/// Alert
///

.dp-alert {
  @include border-radius("m");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dp-greyscale-00;
  padding: 6px;
  font-family: $primary-font;
  font-size: $font-size-m-l;
  font-weight: $pf-regular;
}

.dp-alert--success {
  background-color: $dp-emerald-primary;
}

.dp-alert--info {
  background-color: $dp-sonic-primary;
}

.dp-alert--warning {
  background-color: $dp-tails-primary;
}

.dp-alert--danger {
  background-color: $dp-knuckles-primary;
}

.dp-alert__icon {
  margin: 0 12px 0 3px;
  font-size: $font-size-m-l;
}

.dp-alert__close {
  margin: 0 3px 0 12px;
  cursor: pointer;
  font-size: $font-size-m-l;
}

.dp-alert__content {
  flex-grow: 2;
}
