/// Colours

.dp-colour-tails-primary {
  color: $dp-tails-primary;
}

.dp-colour-night-sky {
  color: $dp-night-sky;
}

.dp-colour-morning-sky {
  color: $dp-morning-sky;
}

.dp-colour-sun-shine {
  color: $dp-sun-shine;
}

.dp-colour-sonic-secondary {
   color: $dp-sonic-secondary;
}

.dp-colour-sonic-primary {
  color: $dp-sonic-primary;
}

.dp-colour-sonic-tertiary {
   color: $dp-sonic-tertiary;
}

.dp-colour-sonic-midnight {
  color: $dp-sonic-midnight;
}

.dp-colour-knuckles-secondary {
  color: $dp-knuckles-secondary;
}

.dp-colour-knuckles-primary {
  color: $dp-knuckles-primary;
}

.dp-colour-knuckles-tertiary {
  color: $dp-knuckles-tertiary;
}
.dp-colour-knuckles-midnight {
  color: $dp-knuckles-midnight;
}

.dp-colour-emerald-secondary {
  color: $dp-emerald-secondary;
}

.dp-colour-emerald-primary {
  color: $dp-emerald-primary;
}

.dp-colour-emerald-tertiary {
  color: $dp-emerald-tertiary;
}

.dp-colour-emerald-midnight {
  color: $dp-emerald-midnight;
}
