.dp-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dp-icon {
    padding-right: 0.5em;
    font-size: inherit;
  }
}

.dp-heading__controls {
  margin-left: auto;
}

.dp-heading__count {
  flex-grow: 1;
  padding-left: 0.5em;
  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}
