/******************************
    Inputs
*******************************/
.dp-input {
  position: relative;
  display: inline-block;
  flex: 1 0 auto;
  &, * {
    box-sizing: border-box;
  }
}
.dp-input input {
  font-family: $primary-font;
  font-weight: $pf-regular;
  color: $dp-greyscale-850;

  height: 24px;
  font-size: $font-size-m;

  border-radius: $rad-size-m;
  padding-left: 8px;
  border: 1px solid $dp-greyscale-300;
  &::placeholder {
    color: $dp-greyscale-450;
  }
}
.dp-input:hover input {
  border-color: $dp-greyscale-450;
}
.dp-input.dp-input--focused input {
  border-color: $dp-sonic-secondary;
  outline: 0;
}
/******************************
    Input label
*******************************/
.dp-input__label {
  font-family: $primary-font;
  font-size: $font-size-s;
  font-weight: $pf-regular;
  color: $dp-greyscale-700;
  text-transform: uppercase;
  display: block;
  padding-bottom: 3px;
}
.dp-input__link {
  font-family: $primary-font;
  font-size: $font-size-s;
  font-weight: $pf-regular;
  color: $dp-greyscale-700;
  text-decoration: underline;
}
/******************************
    Input sizes
*******************************/
.dp-input--small input {
  height: 20px;
  font-size: $font-size-m;
}
.dp-input--medium input {
  height: 24px;
  font-size: $font-size-m;
}
.dp-input--large input {
  height: 36px;
  font-size: $font-size-xl;
}
/******************************
    Input validation
*******************************/
.dp-input--error input,
.dp-form-group--has-error input {
  border-color: $dp-knuckles-primary;
  &:hover {
    border-color: $dp-knuckles-secondary;
  }
  &:focus {
    border-color: $dp-knuckles-tertiary;
  }
}
.dp-input--validating,
.dp-input--validated {
  input {
    padding-right: 30px;
  }
}
.dp-input--validating {
  .dp-input__icon svg {
    animation-name: icon-rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transform-origin: 50% 50%;
    animation-timing-function: linear;

    height: $icon-size-m;
    width:  $icon-size-m;
    cursor: default;
    position: absolute;
    right: 0;
    margin: (26px - $icon-size-m) / 2 6px;
    svg .st0{
      opacity: 1;
    }
    svg .st1{
      fill:$dp-sonic-primary;
    }
    svg .st2{
      fill:$dp-sonic-secondary;
    }
    svg .st3{
      fill:$dp-morning-sky;
    }
  }
}
.dp-input--validated {
  .dp-input__icon svg {
    height: $icon-size-s;
    width:  $icon-size-s;
    cursor: default;
    position: absolute;
    right: 0;
    margin: (26px - $icon-size-s) / 2 6px;
    path {
      fill: $dp-emerald-primary;
    }
  }
}
@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/******************************
    Invisible border
*******************************/
.dp-input--invisible input {
  @include placeholder {
    font-style: italic;
    color: $dp-greyscale-850;
  }
}

.dp-input--invisible input:not(:focus) {
  border: 0;
  &:hover {
    @include border-radius("m");
    background-color: $dp-morning-sky;
  }
}
/******************************
    Input disabled
*******************************/
.dp-input input:disabled,
.dp-input input:read-only {
  background-color: $dp-greyscale-150;
  border-color: $dp-greyscale-200;
  color: $dp-greyscale-350;
}
.dp-input input:read-only {
  color: $dp-greyscale-750
}
/******************************
    Input icon
*******************************/
.dp-input--with-icon {
  input {
    padding-left: 24px;
  }
  .dp-icon {
    position: absolute;
    left: 6px;
    color: $dp-greyscale-400;
    font-size: $icon-size-s;
    top: calc(50% - #{$icon-size-s / 2});
  }
}
.dp-input--with-icon--right {
  input {
    padding-right: 24px;
  }
  .dp-icon {
    position: absolute;
    right: 6px;
    color: $dp-greyscale-400;
    font-size: $icon-size-s;
    top: calc(50% - #{$icon-size-s / 2});
  }
}

/******************************
    Input prefix / suffix
*******************************/
.dp-input--with-prefix input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex: 0 0 auto;
  border-left: 0;
}
.dp-input--with-suffix input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 0 0 auto;
  border-right: 0;
}
.dp-input__prefix,
.dp-input__suffix {
  font-family: $primary-font;
  font-size: $font-size-m;
  display: inline-block;
  line-height: 1;
  padding: 5px 4px;
  vertical-align: baseline;
  border: 1px solid $dp-greyscale-300;
  margin: 0;
  background-color: $dp-greyscale-250
}
.dp-input__prefix {
  border-top-left-radius: $rad-size-m;
  border-bottom-left-radius: $rad-size-m;
}
.dp-input__suffix {
  border-top-right-radius: $rad-size-m;
  border-bottom-right-radius: $rad-size-m;
}
.dp-input:hover {
  .dp-input__prefix,
  .dp-input__suffix {
    border-top-color: $dp-greyscale-450;
    border-bottom-color: $dp-greyscale-450;
  }
  .dp-input__prefix {
    border-left-color: $dp-greyscale-450;
  }
  .dp-input__suffix {
    border-right-color: $dp-greyscale-450;
  }
}
.dp-input.dp-input--focused {
  .dp-input__prefix,
  .dp-input__suffix {
    border-top-color: $dp-sonic-secondary;
    border-bottom-color: $dp-sonic-secondary;
  }
  .dp-input__prefix {
    border-left-color: $dp-sonic-secondary;
  }
  .dp-input__suffix {
    border-right-color: $dp-sonic-secondary;
  }
}
.dp-input--error {
  .dp-input__prefix,
  .dp-input__suffix {
    border-top-color: $dp-knuckles-primary;
    border-bottom-color: $dp-knuckles-primary;
  }
  .dp-input__prefix {
    border-left-color: $dp-knuckles-primary;
  }
  .dp-input__suffix {
    border-right-color: $dp-knuckles-primary;
  }
  &:hover {
    .dp-input__prefix,
    .dp-input__suffix {
      border-top-color: $dp-knuckles-secondary;
      border-bottom-color: $dp-knuckles-secondary;
    }
    .dp-input__prefix {
      border-left-color: $dp-knuckles-secondary;
    }
    .dp-input__suffix {
      border-right-color: $dp-knuckles-secondary;
    }
  }
  &.dp-input--focused {

    .dp-input__prefix,
    .dp-input__suffix {
      border-top-color: $dp-knuckles-tertiary;
      border-bottom-color: $dp-knuckles-tertiary;
    }
    .dp-input__prefix {
      border-left-color: $dp-knuckles-tertiary;
    }
    .dp-input__suffix {
      border-right-color: $dp-knuckles-tertiary;
    }
  }
}
/******************************
    Input checkbox
*******************************/
.dp-input--checkbox {
  &, * {
    box-sizing: border-box;
  }
  position: relative;
  margin-bottom: 3px;
  margin-right: 14px;
  input {
    margin: 0;
  }
  label.dp-input--checkbox__checkbox {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    border: 1px solid $dp-greyscale-450;
    border-radius: $rad-size-m;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 2px;
      left: 2px;
      border: 2px solid $dp-sonic-primary;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      box-sizing: border-box;
    }
  }
  &:not(.dp-input--checkbox--disabled):not(.dp-input--checkbox--read-only):hover label.dp-input--checkbox__checkbox:after {
    opacity: 0.5;
  }
  label.dp-input__label {
    text-transform: none;
    display: inline-block;
    line-height: 14px;
    vertical-align: 2px;
    font-size: $font-size-m;
    color: $dp-greyscale-850;
    margin-left: 7px;
    cursor: pointer;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label.dp-input--checkbox__checkbox:after {
      opacity: 1 !important;
    }
  }
  &.dp-input--checkbox--existing {
    label.dp-input--checkbox__checkbox:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 2px;
      top: 5px;
      left: 2px;
      border-radius: 1px;
      background-color: $dp-sonic-primary;
    }
    &:hover:not(.dp-input--checkbox--disabled):not(.dp-input--checkbox--read-only) label.dp-input--checkbox__checkbox:before {
      opacity: 0;
    }
  }
  &.dp-input--checkbox--disabled {
    label.dp-input--checkbox__checkbox {
      background-color: $dp-greyscale-150;
      border-color: $dp-greyscale-200;
      cursor: not-allowed;
      &:after {
        border-color: $dp-greyscale-350;
      }
    }
    label.dp-input__label {
      cursor: default;
    }
  }
  &.dp-input--checkbox--read-only {
    label.dp-input--checkbox__checkbox {
      background-color: $dp-greyscale-150;
      cursor: default;
    }
    label.dp-input__label {
      cursor: default;
    }
  }
}
/******************************
    Input radio
*******************************/
.dp-input--radio {
  &, * {
    box-sizing: border-box;
  }
  margin-right: 14px;
  > label {
    > input {
      display: none;
    }
    > i {
      height: 14px;
      width: 14px;
      border-radius: $rad-size-circular;
      border: 1px solid $dp-greyscale-450;
      display: inline-block;
      cursor: pointer;
      position: relative;
      background-color: $dp-greyscale-00;
      &::after {
        content: '';
        position: absolute;
        background-color: $dp-sonic-primary;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-radius: $rad-size-circular;
        transition: 0s;
      }
    }
    > label.dp-input__label {
      text-transform: none;
      display: inline-block;
      line-height: 14px;
      vertical-align: 3px;
      font-size: $font-size-m;
      color: $dp-greyscale-850;
      margin-left: 6px;
    }
    > input:checked + i::after {
      width: 6px;
      height: 6px;
      top: 25%;
      left: 25%;
      transition: .2s;
    }
  }
  &.dp-input--radio--disabled {
    > label {
      > i {
        background-color: $dp-greyscale-150;
        border-color: $dp-greyscale-200;
        cursor: not-allowed;
        &:after {
          background-color: $dp-greyscale-350;
        }
      }
    }
  }
}
.dp-input__label + .dp-input--radio {
  padding-top: 7px;
}

/******************************
    Input toggle
*******************************/
.dp-input--toggle {
  min-height: 2rem;
  position: relative;
}
/* Input */
.dp-input--toggle input {
  width: 3.75rem;
  height: 2rem;
}
/* Label */
.dp-input--toggle label {
  min-height: 1.75rem;
  padding-left: 4.75rem;
  padding-top: 0.375rem;
  display: inline;
  color: #2b2f2f;
}
/* Switch */
.dp-input--toggle label:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  transform: none;
  border: none;
  top: 11px;
  background: #aab0b1;
  box-shadow: none;
  width: 3.75rem;
  height: 2rem;
  border-radius: 500rem;
}
/* Handle */
.dp-input--toggle label:after {
  background: #ffffff;
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  box-shadow: none;
  width: 1.75rem;
  height: 1.75rem;
  top: 13px;
  left: 0em;
  border-radius: 500rem;
  transition: background 0.3s ease, left 0.3s ease;
}
.dp-input--toggle input {
  visibility: hidden;
}
.dp-input--toggle input + label {
  padding-left: 5px;
  padding-top: 0;
}
.dp-input--toggle input ~ label:after {
  left: 0.125rem;
  box-shadow: none;
}
/* Focus */
.dp-input--toggle input:focus ~ label:before {
  background-color: #aab0b1;
  border: none;
}
/* Hover */
.dp-input--toggle label:hover::before {
  background-color: #aab0b1;
  border: none;
}
/* Active */
.dp-input--toggle input:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.dp-input--toggle input:checked ~ label:before {
  background-color: #47bf61 !important;
}
.dp-input--toggle input:checked ~ label:after {
  left: 1.875rem;
  box-shadow: none;
}
/* Active Focus */
.dp-input--toggle input:focus:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.dp-input--toggle input:focus:checked ~ label:before {
  background-color: #459b51 !important;
}

.dp-input--toggle label:hover::before,
.dp-input--toggle input:focus ~ label:hover::before {
  border: 1px solid #8c9295;
}
.dp-input--toggle input:checked ~ label:hover::before,
.dp-input--toggle input:checked:focus ~ label:hover::before {
  border: 1px solid #459b51;
}
.dp-input--toggle input ~ label:after {
  background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiPjxnIGZpbGw9IiM0YzRmNTAiIHRyYW5zZm9ybT0ibWF0cml4KC43MDcxLS43MDcxLjcwNzEuNzA3MS0yLjQ4NSA2KSI+PHBhdGggZD0ibS0xLjEgNWgxNC4xdjJoLTE0LjF6Ii8+PHBhdGggZD0ibTUtMS4xaDJ2MTQuMWgtMnoiLz48L2c+PC9zdmc+') center no-repeat;
  background-size: 14px 14px;
}
.dp-input--toggle input:checked ~ label:after {
  background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTQiPjxwYXRoIGZpbGw9IiM0YzRmNTAiIGQ9Im01LjIgMTNsLTUtNC45IDEuNC0xLjUgMy42IDMuNiA5LjItOS4yIDEuNCAxLjR6Ii8+PC9zdmc+') center no-repeat;
  background-size: 14px 14px;
}
/*--------------
   Small Toggle
---------------*/
.dp-input--toggle.small {
  min-height: 1.14285714rem;
}
/* Input */
.dp-input--toggle.small input {
  width: 2.14285714rem;
  height: 1.14285714rem;
}
/* Label */
.dp-input--toggle.small label {
  min-height: 1rem;
  padding-left: 2.71428571rem;
}
/* Switch */
.dp-input--toggle.small label:before {
  top: auto;
  width: 2.14285714rem;
  height: 1.14285714rem;
  border-radius: 285.71428571rem;
}
/* Handle */
.dp-input--toggle.small label:after {
  width: 1rem;
  height: 1rem;
  top: 7px;
  bottom: 0.07142857rem;
}
.dp-input--toggle.small input ~ label:after {
  left: 0.07142857rem;
  background-size: 8px;
}
.dp-input--toggle.small input:checked ~ label:after {
  left: 1.07142857rem;
  background-size: 8px;
}
/******************************
    Form Group
*******************************/
.dp-form-group {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  .dp-input,
  .dp-input input,
  .dp-select,
  .dp-textarea {
    display: block;
    width: 100%;
  }
}

.dp-form-group__error {
  color: $dp-knuckles-primary;
  padding-bottom: 3px;
  margin-top: -3px;
}

/******************************
    Textarea
*******************************/
.dp-textarea {
  position: relative;
  display: inline-block;
  flex: 1 0 auto;
  &, * {
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 100%;
    font-family: $primary-font;
    font-weight: $pf-regular;
    color: $dp-greyscale-850;
    font-size: $font-size-m;
    border-radius: $rad-size-m;
    padding-left: 8px;
    border: 1px solid $dp-greyscale-300;
  }
  /******************************
    Textarea disabled
*******************************/
  & textarea:disabled,
  & textarea:read-only {
    background-color: $dp-greyscale-150;
    border-color: $dp-greyscale-200;
    color: $dp-greyscale-350;
  }
  & input:read-only {
    color: $dp-greyscale-750
  }
}

/******************************
    ColorPicker
*******************************/
.dp-colorpicker {
  display: inline-block;
  .dp-colorpicker--swatch {
    padding: 4px;
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid $dp-greyscale-450;
    display: inline-block;
    cursor: pointer;
    .dp-colorpicker--swatch--color {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      color: #4696dc;
    }
  }
  .dp-colorpicker--popover {
    position: absolute;
    z-index: 2;
    .dp-colorpicker--popover--cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
