ul.dp-list {
  list-style-type: none;
  padding-left: 0;
  font-size: $font-size-m;
  font-family: $primary-font;
  margin: 0;

  ul {
    padding-left: 20px;
    font-size: $font-size-s;
  }

  &, * {
    box-sizing: border-box;
  }
}

.dp-selectable-list {

  &:focus {
    border: 0;
    outline: 0;
  }

  & > .dp-list__element {
    cursor: pointer;
  }

  & > .dp-list__element:not(.dp-selectable-list--selected):hover {
    color: $dp-sonic-primary;
    background-color: $dp-morning-sky;
  }
}

.dp-selectable-list--selected {
  color: $dp-greyscale-150 !important;
  background-color: $dp-sonic-primary;
}
