/// Search Inline
///

.dp-search-inline {
  position: relative;

  &, * {
    box-sizing: border-box;
  }
}

.dp-search-inline--open {

  .dp-input input {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: $dp-sonic-secondary;
  }
}

.dp-search-inline__results {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  z-index: $dp-zindex-top;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-color: $dp-sonic-secondary;

  & > .dp-list__element {
    padding: 0 12px;
    cursor: pointer;
    font-family: $primary-font;
    font-size: $font-size-m;
    font-weight: $pf-regular;
    color: $dp-greyscale-850;

    i {
      font-style: normal;
      background-color: $dp-sun-shine;
    }
  }
}

/// Search Submit
///

.dp-search-submit {
  display: inline-block;

  .dp-input {
    display: inline-block;
    margin-right: 4px;
  }

  .dp-popper {
    z-index: $dp-zindex-top;

    & > .dp-list {
      margin: 0;
    }

    & > .dp-list .dp-list__element {
      padding: 4px 12px;
      cursor: pointer;
      border-bottom: 1px solid $dp-greyscale-250;
      font-family: $primary-font;
      font-size: $font-size-m;
      font-weight: $pf-regular;
      color: $dp-greyscale-850;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}


/// Search Button
///

.dp-search-button {
  display: inline-block;

  .dp-popper {
    z-index: $dp-zindex-top;
    padding: 6px;
  }
}

.dp-search-button__results {
  margin: 8px 0 4px 0;
  z-index: $dp-zindex-top;
  background-color: #FFF;

  &:empty {
    margin: 0;
  }

  & > .dp-list__element {
    padding: 0 6px;
    cursor: pointer;
    font-family: $primary-font;
    font-size: $font-size-m;
    font-weight: $pf-regular;
    color: $dp-greyscale-850;

    i {
      font-style: normal;
      background-color: $dp-sun-shine;
    }
  }
}
