/******************************
    Tags
*******************************/
$tag-border: solid 1px $dp-greyscale-300;
$tag-height: 18px;

.dp-tag {
  font-family: $primary-font;
  font-size: $font-size-m;
  font-weight: $pf-regular;
  color: $dp-greyscale-850;

  background-color: $dp-greyscale-150;
  border: $tag-border;

  height: $tag-height;
  border-radius: $rad-size-s;
  padding-left: 4px;
  padding-right: 4px;

  margin-right: 4px;
  &.editable {
    padding-right: 6px;
  }
  &, * {
    box-sizing: border-box;
  }
}
.dp-tag__close {
  margin-left: 3px;
  font-size: $icon-size-xs;
  color: $dp-greyscale-500;
  cursor: pointer;
}
/******************************
    Tag input
*******************************/
.dp-tag-input {
  height: 29px;
  padding: 4px;
  border: 1px solid transparent;
  &:hover:not(.editable) {
    border: 1px dashed $dp-greyscale-300;
    cursor: text;
  }
  input {
    font-family: $primary-font;
    font-size: $font-size-m;
    border: 0;
    box-shadow: none;
    padding: 1px;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
.dp-tag-set {
  &, * {
    box-sizing: border-box;
  }
  .dp-search-button {
    .dp-button {
      box-shadow: none;
      background-color: $dp-greyscale-00;
      border: $tag-border;
      height: $tag-height;
      vertical-align: bottom;
      padding: 0 4px;
      cursor: pointer;
      i {
        display: none;
      }
      &::after {
        content: '+';
        top: -1px;
        display: inline-block;
        position: relative;
        color: $dp-greyscale-500;
      }
      &.dp-button--active {
        background-color: $dp-morning-sky;
        border-color: $dp-sonic-primary;
        color: $dp-sonic-primary;
        box-shadow: 0 1px 0 $dp-sonic-primary inset;
        mix-blend-mode: normal;
        &::after {
          color: $dp-sonic-primary;
        }
      }
    }
  }
}