{
  "presets": [
    "babel-preset-env",
    "babel-preset-react",
    "babel-preset-stage-0"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-flow-strip-types",
    ["babel-plugin-react-intl", {"messagesDir": "./build/messages/"}],
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".jsx"]
    }]
  ]
}
