{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    ["transform-decorators-legacy", "transform-flow-strip-types"],
    ["react-intl", {"messagesDir": "./build/messages/"}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Components": "src/Components/"
      },
      "extensions": [".js", ".jsx"]
    }]
  ]
}
