.dp-heading {
  display: flex;
  align-items: center;

  & > .dp-icon {
    padding-right: 0.5em;
  }
}

.dp-heading__count {
  flex-grow: 1;
  padding-left: 0.5em;
  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}
