/******************************
    Labels
*******************************/
.dp-label {
  font-family: $primary-font;
  font-size: $font-size-m;
  font-weight: $pf-regular;
  color: $dp-greyscale-850;

  background-color: $dp-greyscale-150;
  border: solid 1px $dp-greyscale-300;

  height: 18px;
  border-radius: $rad-size-s;
  padding-left: 4px;
  padding-right: 4px;

  margin-right: 4px;
  &.editable {
    padding-right: 6px;
  }
  &, * {
    box-sizing: border-box;
  }
}
.dp-label__close {
  margin-left: 3px;
  font-size: $icon-size-xs;
  color: $dp-greyscale-500;
  cursor: pointer;
}
/******************************
    Label input
*******************************/
.dp-label-input {
  padding: 4px;
  border: 1px solid transparent;
  &:hover:not(.editable) {
    border: 1px dashed $dp-greyscale-300;
    cursor: text;
  }
  input {
    font-family: $primary-font;
    font-size: $font-size-m;
    border: 0;
    box-shadow: none;
    padding: 1px;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}