.dp-modal__overlay {
  background-color: rgba($dp-greyscale-850, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dp-modal {
  background-color: $dp-greyscale-00;
  border: 1px solid $dp-sonic-secondary;
  border-radius: $rad-size-m;
  box-shadow: 0 3px 10px $dp-greyscale-850;
  max-width: 720px;
  min-width: 300px;
  width: 720px;
  position: relative;
}
.dp-modal__title {
  background-color: $dp-sonic-primary;
  font-family: $primary-font;
  font-size: $font-size-l;
  font-weight: $pf-semi-bold;
  color: $dp-greyscale-00;
  height: 40px;
  padding-left: 12px;
  line-height: 40px;
  position: relative;
  .dp-modal__close {
    width: 40px;
    border-left: 1px solid $dp-morning-sky;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: $dp-greyscale-00;
  }
}
.dp-modal__body {
  padding: 12px 12px 72px 12px;
}
.dp-modal__buttons {
  box-sizing: border-box;
  height: 60px;
  padding: 12px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $dp-greyscale-350;
  .dp-button {
    margin-right: 12px;
    &.right {
      margin-right: 0;
      float: right;
    }
  }
}