$select-input-placeholder:          $dp-greyscale-850;
$select-text-color:                 $dp-greyscale-850;

$select-input-height : 24px;
$select-padding-vertical: 10px;
$select-padding-horizontal: 8px;
//$select-input-internal-height: 24px;

$select-option-color: $dp-greyscale-850;

$select-input-border-color: $dp-greyscale-300;

@import "../../../node_modules/react-select/scss/default";

.dp-select {
  font-family: $primary-font;
  font-weight: $pf-regular;

  height: 24px;
  margin-bottom: 10px;
  font-size: $font-size-m;

  .Select-control {
    height: 24px;
  }

  .Select-placeholder,
  &.Select--single > .Select-control .Select-value {
    line-height: 22px;
    height: 22px;
  }

  .Select-input {
    height: 22px;
  }

  // placeholder
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    font-style: italic;
  }

  .Select-menu-outer {
    border-color: $dp-sonic-primary;
    border-top: 0;
  }
  &.Select.is-open > .Select-control {
    border-color: $dp-sonic-primary;
  }
  &, * {
    box-sizing: border-box;
  }
}

