/******************************
    Colours
******************************/

$dp-tails-primary: #fbb03b;
$dp-night-sky: #28323c;
$dp-morning-sky: #e9f7ff;
$dp-sun-shine: #fffcc2;

$dp-knuckles-secondary: #f16071;
$dp-knuckles-primary: #ed4954;
$dp-knuckles-tertiary: #dc3b4f;
$dp-knuckles-midnight: #aa2222;

$dp-sonic-secondary: #59a8e2;
$dp-sonic-primary: #4696dc;
$dp-sonic-tertiary: #3c90ce;
$dp-sonic-midnight: #3c82b4;

$dp-emerald-secondary: #54c66a;
$dp-emerald-primary: #47bf61;
$dp-emerald-tertiary: #42b257;
$dp-emerald-midnight: #459b51;

/******************************
    Greyscale colours
*******************************/
$dp-greyscale-1000: #2b2f2f;
$dp-greyscale-950: #323636;
$dp-greyscale-900: #3a3c3d;
$dp-greyscale-850: #4c4f50;
$dp-greyscale-800: #535657;
$dp-greyscale-750: #646869;
$dp-greyscale-700: #707576;
$dp-greyscale-650: #747a7b;
$dp-greyscale-600: #7f8383;
$dp-greyscale-550: #878d8f;
$dp-greyscale-500: #8c9395;
$dp-greyscale-450: #aab0b1;
$dp-greyscale-400: #c0c4c4;
$dp-greyscale-350: #cacece;
$dp-greyscale-300: #d4d7d8;
$dp-greyscale-250: #e3e3e3;
$dp-greyscale-200: #ebecec;
$dp-greyscale-150: #f4f5f5;
$dp-greyscale-100: #fcfcfc;
$dp-greyscale-00: #ffffff;

/******************************
    SlA Colours
******************************/
$sla-shade-1: #fcebb2;
$sla-shade-2: #f9d6a4;
$sla-shade-3: #f6c296;
$sla-shade-4: #f3ad88;
$sla-shade-5: #f1997a;
$sla-shade-6: #ee856b;
$sla-shade-7: #eb705d;
$sla-shade-8: #e85c4f;
$sla-shade-9: #e54741;
$sla-shade-10: #e23333;
$sla-shade-11: #c12727;