/// Prevents text from being selected
///
/// @example scss - Basic Usage Sass
///    h1 {
///        @include no-text-select();
///    }

@mixin no-text-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


@mixin border-radius($size) {
  @if $size == "s" {
    border-radius: $rad-size-s;
  } @else if $size == "m" {
    border-radius: $rad-size-m;
  } @else if $size == "m-l" {
    border-radius: $rad-size-m-l;
  } @else if $size == "l" {
    border-radius: $rad-size-l;
  } @else if $size == "circular" {
    border-radius: $rad-size-circular;
  } @else {
    @warn "Border radius size `#{$size}` is invalid.";
  }
}
